# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output folders for transformed files
svg/fixed/*-transformed.svg

# Operating System files
.DS_Store
Thumbs.db

# Optional: Ignore compiled scripts if you ever compile TS/JS
dist/
build/
